
{% extends 'base.html' %}
{% load static %}

{% block title %}
Lessons
{% endblock %}

{% block content %}
<h1>SUBJECTS</h1>

<div class="block">
        <h3>Math</h3>
        <i class="fa fa-solid fa-superscript math" style="color:#82172a;"></i>
  </div>
<div class="block">
        <h3>Geography</h3>
        <i class="fa fa-solid fa-globe geo" style="color:#82172a;"></i>
  </div>
<div class="block">
        <h3>Physics</h3>
        <i class="fa fa-solid fa-magnet phy" style="color:#82172a;"></i>
  </div>
<div class="block">
        <h3>Biology</h3>
        <i class="fa fa-solid fa-frog bio" style="color:#82172a;"></i>
  </div>

<div class="block">
        <h3>Literature</h3>
        <i class="fa fa-solid fa-book lit" style="color:#82172a;"></i>
  </div>

<div class="block">
        <h3>Language</h3>
        <i class="fa fa-solid fa-language lang" style="color:#82172a;"></i>
  </div>

{% endblock %}
